.modalOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalOverlay .modal {
    width: 400px;
    height: 200px;
    background-color: #000;
    border: 2px solid #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #fff;
    border-radius: 30px;
}
.modalOverlay .modal p {
    font-size: 30px;
}
.modalOverlay .modal .modalActions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.modalOverlay .modal .modalActions button {
    height: 35px;
    width: 100px;
    border-radius: 20px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.3s;
}
.modalOverlay .modal .modalActions button:first-child:hover {
    background-color: rgba(255, 0, 0, 0.5);
    color: #fff;
    transform: scale(1.09);
}
.modalOverlay .modal .modalActions button:last-child:hover {
    background-color: rgba(4, 170, 1, 0.5);
    color: #fff;
    transform: scale(1.09);
}