.headerMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px 16px 16px;
    background-color: var(--background-layout);
    color: #fff;
    font-size: 18px;
    height: 60px;
}