.headerLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.headerLogin button{
    padding: 15px 45px;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
}
.headerLogin button:first-child {
    background-color: transparent;
    border: none;
    font-size: 16px;
}
.headerLogin button:nth-child(2) {
    color: var(--primary);
    background-color: transparent;
    border: 1px solid var(--primary);
} 