.App {
    width: 100vw;
    height: 100vh;
    /* background-image: url("../../img/BG-hp.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(161, 159, 159, 0.5) 50%, rgba(80, 79, 79, 0.5) 90%);
}





