* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

input {
  outline: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
  text-shadow: 3px 0 9px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
