:root{
  --primary: #F53838
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: sans-serif;
}
ul{
  list-style: none;
}
li,button {
  cursor: pointer;
}
i {
  cursor: pointer;
}
button {
  transition: 0.3s;
}
button:hover {
  transform: scale(1.09);
}
